# NYC311 - Customer Service Requests Analysis

## DESCRIPTION

**Background of Problem Statement :**

NYC 311's mission is to provide the public with quick and easy access to all New York City government services and information while offering the best customer service. Each day, NYC311 receives thousands of requests related to several hundred types of non-emergency services, including noise complaints, plumbing issues, and illegally parked cars. These requests are received by NYC311 and forwarded to the relevant agencies such as the police, buildings, or transportation. The agency responds to the request, addresses it, and then closes it.

**Problem Objective :**

Perform a service request data analysis of New York City 311 calls. You will focus on the data wrangling techniques to understand the pattern in the data and also visualize the major complaint types.
Domain: Customer Service

**Analysis Tasks to be performed:**

(Perform a service request data analysis of New York City 311 calls) 

Import a 311 NYC service request.
Read or convert the columns ‘Created Date’ and Closed Date’ to datetime datatype and create a new column ‘Request_Closing_Time’ as the time elapsed between request creation and request closing. (Hint: Explore the package/module datetime)
Provide major insights/patterns that you can offer in a visual format (graphs or tables); at least 4 major conclusions that you can come up with after generic data mining.
Order the complaint types based on the average ‘Request_Closing_Time’, grouping them for different locations.
Perform a statistical test for the following:

In [1]:
#import library
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#read csv file
df=pd.read_csv('s3://simplilearn-project/311_Service_Requests_from_2010_to_Present.csv')
df.head()

C:\Users\anw_1\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (48,49) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01-01-16 0:55,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01-01-16 1:26,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,12/31/2015 11:59:29 PM,01-01-16 4:51,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"
3,32305098,12/31/2015 11:57:46 PM,01-01-16 7:43,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461.0,2940 BAISLEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.835994,-73.828379,"(40.83599404683083, -73.82837939584206)"
4,32306529,12/31/2015 11:56:58 PM,01-01-16 3:24,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373.0,87-14 57 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.733060,-73.874170,"(40.733059618956815, -73.87416975810375)"

In [3]:
#determine the number of rows and columns
df.shape

(300698, 53)

In [4]:
df.describe()

,Unique Key,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),School or Citywide Complaint,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Garage Lot Name,Latitude,Longitude
count,3.006980e+05,298083.000000,2.971580e+05,297158.000000,0.0,0.0,0.0,0.0,0.0,297158.000000,297158.000000
mean,3.130054e+07,10848.888645,1.004854e+06,203754.534416,NaN,NaN,NaN,NaN,NaN,40.725885,-73.925630
std,5.738547e+05,583.182081,2.175338e+04,29880.183529,NaN,NaN,NaN,NaN,NaN,0.082012,0.078454
min,3.027948e+07,83.000000,9.133570e+05,121219.000000,NaN,NaN,NaN,NaN,NaN,40.499135,-74.254937
25%,3.080118e+07,10310.000000,9.919752e+05,183343.000000,NaN,NaN,NaN,NaN,NaN,40.669796,-73.972142
50%,3.130436e+07,11208.000000,1.003158e+06,201110.500000,NaN,NaN,NaN,NaN,NaN,40.718661,-73.931781
75%,3.178446e+07,11238.000000,1.018372e+06,224125.250000,NaN,NaN,NaN,NaN,NaN,40.781840,-73.876805
max,3.231065e+07,11697.000000,1.067173e+06,271876.000000,NaN,NaN,NaN,NaN,NaN,40.912869,-73.700760

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300698 entries, 0 to 300697
Data columns (total 53 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unique Key                      300698 non-null  int64
 1   Created Date                    300698 non-null  object
 2   Closed Date                     298534 non-null  object
 3   Agency                          300698 non-null  object
 4   Agency Name                     300698 non-null  object
 5   Complaint Type                  300698 non-null  object
 6   Descriptor                      294784 non-null  object
 7   Location Type                   300567 non-null  object
 8   Incident Zip                    298083 non-null  float64
 9   Incident Address                256288 non-null  object
 10  Street Name                     256288 non-null  object
 11  Cross Street 1                  251419 non-null  object
 12  Cross Street 2                  250919 non-null  object
 13  Intersection Street 1           43858 non-null   object
 14  Intersection Street 2           43362 non-null   object
 15  Address Type                    297883 non-null  object
 16  City                            298084 non-null  object
 17  Landmark                        349 non-null     object
 18  Facility Type                   298527 non-null  object
 19  Status                          300698 non-null  object
 20  Due Date                        300695 non-null  object
 21  Resolution Description          300698 non-null  object
 22  Resolution Action Updated Date  298511 non-null  object
 23  Community Board                 300698 non-null  object
 24  Borough                         300698 non-null  object
 25  X Coordinate (State Plane)      297158 non-null  float64
 26  Y Coordinate (State Plane)      297158 non-null  float64
 27  Park Facility Name              300698 non-null  object
 28  Park Borough                    300698 non-null  object
 29  School Name                     300698 non-null  object
 30  School Number                   300698 non-null  object
 31  School Region                   300697 non-null  object
 32  School Code                     300697 non-null  object
 33  School Phone Number             300698 non-null  object
 34  School Address                  300698 non-null  object
 35  School City                     300698 non-null  object
 36  School State                    300698 non-null  object
 37  School Zip                      300697 non-null  object
 38  School Not Found                300698 non-null  object
 39  School or Citywide Complaint    0 non-null       float64
 40  Vehicle Type                    0 non-null       float64
 41  Taxi Company Borough            0 non-null       float64
 42  Taxi Pick Up Location           0 non-null       float64
 43  Bridge Highway Name             243 non-null     object
 44  Bridge Highway Direction        243 non-null     object
 45  Road Ramp                       213 non-null     object
 46  Bridge Highway Segment          213 non-null     object
 47  Garage Lot Name                 0 non-null       float64
 48  Ferry Direction                 1 non-null       object
 49  Ferry Terminal Name             2 non-null       object
 50  Latitude                        297158 non-null  float64
 51  Longitude                       297158 non-null  float64
 52  Location                        297158 non-null  object
dtypes: float64(10), int64(1), object(42)
memory usage: 121.6+ MB

In [6]:
#determine if there are missing values
df.isna().any()

Unique Key                        False
Created Date                      False
Closed Date                        True
Agency                            False
Agency Name                       False
Complaint Type                    False
Descriptor                         True
Location Type                      True
Incident Zip                       True
Incident Address                   True
Street Name                        True
Cross Street 1                     True
Cross Street 2                     True
Intersection Street 1              True
Intersection Street 2              True
Address Type                       True
City                               True
Landmark                           True
Facility Type                      True
Status                            False
Due Date                           True
Resolution Description            False
Resolution Action Updated Date     True
Community Board                   False
Borough                           False
X Coordinate (State Plane)         True
Y Coordinate (State Plane)         True
Park Facility Name                False
Park Borough                      False
School Name                       False
School Number                     False
School Region                      True
School Code                        True
School Phone Number               False
School Address                    False
School City                       False
School State                      False
School Zip                         True
School Not Found                  False
School or Citywide Complaint       True
Vehicle Type                       True
Taxi Company Borough               True
Taxi Pick Up Location              True
Bridge Highway Name                True
Bridge Highway Direction           True
Road Ramp                          True
Bridge Highway Segment             True
Garage Lot Name                    True
Ferry Direction                    True
Ferry Terminal Name                True
Latitude                           True
Longitude                          True
Location                           True
dtype: bool

In [7]:
df.isna().sum()

Unique Key                             0
Created Date                           0
Closed Date                         2164
Agency                                 0
Agency Name                            0
Complaint Type                         0
Descriptor                          5914
Location Type                        131
Incident Zip                        2615
Incident Address                   44410
Street Name                        44410
Cross Street 1                     49279
Cross Street 2                     49779
Intersection Street 1             256840
Intersection Street 2             257336
Address Type                        2815
City                                2614
Landmark                          300349
Facility Type                       2171
Status                                 0
Due Date                               3
Resolution Description                 0
Resolution Action Updated Date      2187
Community Board                        0
Borough                                0
X Coordinate (State Plane)          3540
Y Coordinate (State Plane)          3540
Park Facility Name                     0
Park Borough                           0
School Name                            0
School Number                          0
School Region                          1
School Code                            1
School Phone Number                    0
School Address                         0
School City                            0
School State                           0
School Zip                             1
School Not Found                       0
School or Citywide Complaint      300698
Vehicle Type                      300698
Taxi Company Borough              300698
Taxi Pick Up Location             300698
Bridge Highway Name               300455
Bridge Highway Direction          300455
Road Ramp                         300485
Bridge Highway Segment            300485
Garage Lot Name                   300698
Ferry Direction                   300697
Ferry Terminal Name               300696
Latitude                            3540
Longitude                           3540
Location                            3540
dtype: int64

Apply method chaining
https://towardsdatascience.com/the-unreasonable-effectiveness-of-method-chaining-in-pandas-15c2109e3c69

In [5]:
#drop columns with no data
#drop column Landmark ,School or Citywide Complaint, Vehicle Type, Taxi Company Borough, 
#Taxi Pick Up Location, Bridge Highway Name, Bridge Highway Direction
#Road Ramp Bridge Highway Segment Garage Lot Name Ferry Direction Ferry Terminal Name
drop_columns=["Landmark","School or Citywide Complaint","Vehicle Type","Taxi Company Borough"
             ,"Taxi Pick Up Location","Bridge Highway Name","Bridge Highway Direction",
             "Road Ramp","Bridge Highway Segment","Garage Lot Name","Ferry Direction",
             "Ferry Terminal Name"]
df_subset=df.drop(columns=drop_columns,axis=1)

In [6]:
#new shape of the dataset after dropping columns
df_subset.shape

(300698, 41)

In [7]:
#number of records in each category, user value_counts
df_subset["Complaint Type"].value_counts()

Blocked Driveway             77044
Illegal Parking              75361
Noise - Street/Sidewalk      48612
Noise - Commercial           35577
Derelict Vehicle             17718
Noise - Vehicle              17083
Animal Abuse                  7778
Traffic                       4498
Homeless Encampment           4416
Noise - Park                  4042
Vending                       3802
Drinking                      1280
Noise - House of Worship       931
Posting Advertisement          650
Urinating in Public            592
Bike/Roller/Skate Chronic      427
Panhandling                    307
Disorderly Youth               286
Illegal Fireworks              168
Graffiti                       113
Agency Issues                    6
Squeegee                         4
Ferry Complaint                  2
Animal in a Park                 1
Name: Complaint Type, dtype: int64

In [13]:
#Descriptor	Location Type
df_subset["Descriptor"].value_counts()

Loud Music/Party                  61430
No Access                         56976
Posted Parking Sign Violation     22440
Loud Talking                      21584
Partial Access                    20068
With License Plate                17718
Blocked Hydrant                   16081
Commercial Overnight Parking      12189
Car/Truck Music                   11273
Blocked Sidewalk                  11121
Double Parked Blocking Traffic     5731
Double Parked Blocking Vehicle     4211
Engine Idling                      4189
Banging/Pounding                   4165
Neglected                          3787
Car/Truck Horn                     3511
Congestion/Gridlock                2761
In Prohibited Area                 2025
Other (complaint details)          1969
Unlicensed                         1777
Overnight Commercial Storage       1757
Unauthorized Bus Layover           1367
Truck Route Violation              1014
In Public                           932
Tortured                            854
Vehicle                             590
Chained                             535
Detached Trailer                    464
No Shelter                          382
Chronic Stoplight Violation         280
Underage - Licensed Est             271
Chronic Speeding                    268
In Car                              251
Playing in Unsuitable Place         245
Drag Racing                         175
Loud Television                      93
Police Report Requested              90
After Hours - Licensed Est           77
Building                             60
Nuisance/Truant                      41
Police Report Not Requested          23
Language Access Complaint             6
Homeless Issue                        1
Disruptive Passenger                  1
Animal Waste                          1
Name: Descriptor, dtype: int64

In [14]:
df_subset["Location Type"].value_counts()

Street/Sidewalk               249299
Store/Commercial               20381
Club/Bar/Restaurant            17360
Residential Building/House      6960
Park/Playground                 4773
House of Worship                 929
Residential Building             227
Highway                          215
Parking Lot                      117
House and Store                   93
Vacant Lot                        77
Commercial                        62
Roadway Tunnel                    35
Subway Station                    34
Bridge                             2
Terminal                           1
Ferry                              1
Park                               1
Name: Location Type, dtype: int64

In [15]:
pd.unique(df_subset["Agency"])

array(['NYPD'], dtype=object)

In [16]:
pd.unique(df_subset["Agency Name"])

array(['New York City Police Department', 'NYPD',
       'Internal Affairs Bureau'], dtype=object)

In [18]:
df_subset["Agency Name"].value_counts()

New York City Police Department    300690
Internal Affairs Bureau                 6
NYPD                                    2
Name: Agency Name, dtype: int64

In [19]:
#find NYPD in the column and replace with New York City Police department. Using the replace() method
#check if the replace method has worked
df_subset["Agency Name"]=df_subset["Agency Name"].replace({"NYPD":"New York City Police Department"})
df_subset["Agency Name"].value_counts()

New York City Police Department    300692
Internal Affairs Bureau                 6
Name: Agency Name, dtype: int64

In [17]:
df_subset["City"].value_counts()

BROOKLYN               98307
NEW YORK               65994
BRONX                  40702
STATEN ISLAND          12343
JAMAICA                 7296
ASTORIA                 6330
FLUSHING                5971
RIDGEWOOD               5163
CORONA                  4295
WOODSIDE                3544
SOUTH RICHMOND HILL     2774
OZONE PARK              2755
EAST ELMHURST           2734
ELMHURST                2673
WOODHAVEN               2464
MASPETH                 2462
LONG ISLAND CITY        2437
SOUTH OZONE PARK        2173
RICHMOND HILL           1904
FRESH MEADOWS           1899
QUEENS VILLAGE          1814
MIDDLE VILLAGE          1765
JACKSON HEIGHTS         1689
FOREST HILLS            1688
REGO PARK               1486
BAYSIDE                 1221
COLLEGE POINT           1220
FAR ROCKAWAY            1179
WHITESTONE              1098
HOLLIS                  1012
HOWARD BEACH             931
ROSEDALE                 922
SPRINGFIELD GARDENS      883
SAINT ALBANS             834
KEW GARDENS              771
ROCKAWAY PARK            745
SUNNYSIDE                723
Astoria                  717
LITTLE NECK              559
OAKLAND GARDENS          551
CAMBRIA HEIGHTS          477
BELLEROSE                375
GLEN OAKS                306
ARVERNE                  220
FLORAL PARK              152
Long Island City         134
Woodside                 120
NEW HYDE PARK             98
CENTRAL PARK              97
QUEENS                    32
BREEZY POINT              30
East Elmhurst             14
Howard Beach               1
Name: City, dtype: int64

In [8]:
#change data types of Created Date and Closed Date
df_subset["Created Date"]=pd.to_datetime(df_subset["Created Date"])
df_subset["Closed Date"]=pd.to_datetime(df_subset["Closed Date"])

In [9]:
df_subset.dtypes

Unique Key                                 int64
Created Date                      datetime64[ns]
Closed Date                       datetime64[ns]
Agency                                    object
Agency Name                               object
Complaint Type                            object
Descriptor                                object
Location Type                             object
Incident Zip                             float64
Incident Address                          object
Street Name                               object
Cross Street 1                            object
Cross Street 2                            object
Intersection Street 1                     object
Intersection Street 2                     object
Address Type                              object
City                                      object
Facility Type                             object
Status                                    object
Due Date                                  object
Resolution Description                    object
Resolution Action Updated Date            object
Community Board                           object
Borough                                   object
X Coordinate (State Plane)               float64
Y Coordinate (State Plane)               float64
Park Facility Name                        object
Park Borough                              object
School Name                               object
School Number                             object
School Region                             object
School Code                               object
School Phone Number                       object
School Address                            object
School City                               object
School State                              object
School Zip                                object
School Not Found                          object
Latitude                                 float64
Longitude                                float64
Location                                  object
dtype: object

In [13]:
df_subset["Created Date"].min(), df_subset["Created Date"].max()

(Timestamp('2015-03-29 00:33:01'), Timestamp('2015-12-31 23:59:45'))

In [14]:
time_delta=df_subset["Created Date"].max() - df_subset["Created Date"].min()
print(time_delta)

277 days 23:26:44

In [15]:
#Add column Request Closing Time
df_subset['Request_Closing_Time']=df_subset['Closed Date']-df_subset['Created Date']
df_subset.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,School Phone Number,School Address,School City,School State,School Zip,School Not Found,Latitude,Longitude,Location,Request_Closing_Time
0,32310363,2015-12-31 23:59:45,2016-01-01 00:55:00,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,N,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)",0 days 00:55:15
1,32309934,2015-12-31 23:59:44,2016-01-01 01:26:00,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,N,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)",0 days 01:26:16
2,32309159,2015-12-31 23:59:29,2016-01-01 04:51:00,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,N,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)",0 days 04:51:31
3,32305098,2015-12-31 23:57:46,2016-01-01 07:43:00,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461.0,2940 BAISLEY AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,N,40.835994,-73.828379,"(40.83599404683083, -73.82837939584206)",0 days 07:45:14
4,32306529,2015-12-31 23:56:58,2016-01-01 03:24:00,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373.0,87-14 57 ROAD,...,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,N,40.733060,-73.874170,"(40.733059618956815, -73.87416975810375)",0 days 03:27:02

In [23]:
# Average Response Time for each complaint type
df_subset.groupby('Complaint Type')['Request_Closing_Time'].agg(lambda x: x.mean()).sort_values(ascending=False)

Complaint Type
Animal in a Park                     14 days 00:50:05
Derelict Vehicle            0 days 07:21:50.902717762
Graffiti                    0 days 07:09:04.504424778
Agency Issues               0 days 05:15:37.166666666
Animal Abuse                0 days 05:12:47.677780638
Blocked Driveway            0 days 04:44:27.258638198
Illegal Parking             0 days 04:30:04.145454301
Panhandling                 0 days 04:22:21.963934426
Homeless Encampment         0 days 04:21:56.052536231
Squeegee                       0 days 04:02:44.250000
Vending                     0 days 04:00:50.107246376
Drinking                    0 days 03:51:42.598431372
Bike/Roller/Skate Chronic   0 days 03:45:59.264150943
Urinating in Public         0 days 03:37:35.991554054
Noise - Vehicle             0 days 03:35:20.376269594
Disorderly Youth            0 days 03:33:30.902097902
Traffic                     0 days 03:26:55.252001779
Noise - Street/Sidewalk     0 days 03:26:42.806681088
Noise - Park                0 days 03:24:38.636996519
Noise - House of Worship    0 days 03:11:35.874058127
Noise - Commercial          0 days 03:08:49.755979232
Illegal Fireworks           0 days 02:45:40.101190476
Posting Advertisement       0 days 01:58:32.891975308
Ferry Complaint                                   NaT
Name: Request_Closing_Time, dtype: timedelta64[ns]

In [26]:
pd.set_option('display.max_rows',None)

In [33]:
df_subset.groupby(['Complaint Type','Location Type'])['Request_Closing_Time'].agg(lambda x: x.mean())

Complaint Type             Location Type
Animal Abuse               Commercial                   0 days 05:20:33.967741935
                           House and Store              0 days 05:00:47.741935483
                           Park/Playground              0 days 03:42:08.975409836
                           Parking Lot                  0 days 05:32:25.436363636
                           Residential Building         0 days 04:49:05.396475770
                           Residential Building/House   0 days 05:23:58.263924424
                           Store/Commercial             0 days 04:16:22.109404990
                           Street/Sidewalk              0 days 05:06:38.977734119
                           Subway Station               0 days 03:02:08.181818181
Animal in a Park           Park                                  14 days 00:50:05
Bike/Roller/Skate Chronic  Residential Building/House      0 days 03:36:40.680000
                           Store/Commercial                       0 days 03:50:24
                           Street/Sidewalk              0 days 03:45:59.072254335
Blocked Driveway           Street/Sidewalk              0 days 04:44:27.674677295
Derelict Vehicle           Highway                      0 days 08:11:44.538461538
                           Roadway Tunnel                         0 days 17:57:51
                           Street/Sidewalk              0 days 07:21:38.166885902
                           Vacant Lot                   0 days 07:28:26.129870129
Disorderly Youth           Residential Building/House   0 days 03:51:16.116883116
                           Store/Commercial                0 days 02:50:22.125000
                           Street/Sidewalk              0 days 03:28:25.870646766
Drinking                   Club/Bar/Restaurant          0 days 04:32:44.923287671
                           Park/Playground              0 days 03:26:28.785714285
                           Residential Building/House   0 days 03:40:41.813148788
                           Store/Commercial             0 days 03:15:09.344444444
                           Street/Sidewalk              0 days 03:37:51.009259259
Ferry Complaint            Ferry                                              NaT
                           Terminal                                           NaT
Graffiti                   Residential Building/House   0 days 05:52:43.678571428
                           Store/Commercial                0 days 05:33:38.312500
                           Street/Sidewalk                 0 days 12:02:15.080000
Homeless Encampment        Bridge                          0 days 03:49:09.500000
                           Highway                         0 days 03:16:16.200000
                           Park/Playground              0 days 03:55:25.787535410
                           Residential Building/House   0 days 04:55:26.776195320
                           Roadway Tunnel                         0 days 02:31:05
                           Store/Commercial             0 days 04:14:14.476562500
                           Street/Sidewalk              0 days 04:13:47.726879181
Illegal Fireworks          Park/Playground                        0 days 05:00:11
                           Residential Building/House   0 days 03:05:58.969696969
                           Store/Commercial                       0 days 01:55:27
                           Street/Sidewalk                 0 days 02:32:29.992000
Illegal Parking            Street/Sidewalk              0 days 04:30:02.851416835
Noise - Commercial         Club/Bar/Restaurant          0 days 03:03:50.116976426
                           Store/Commercial             0 days 03:13:25.207597413
Noise - House of Worship   House of Worship             0 days 03:11:49.996763754
Noise - Park               Park/Playground              0 days 03:24:32.394429246
Noise - Street/Sidewalk    Street/Sidewalk              0 days 03:26:43.506813406
Noise - Vehicle            Street/Sidewalk              0 days 03:35:20.531826189
Panhandling                Park/Playground              0 days 01:13:07.166666666
                           Residential Building/House             0 days 05:09:56
                           Store/Commercial             0 days 04:20:46.833333333
                           Street/Sidewalk              0 days 04:24:28.295964125
Posting Advertisement      Parking Lot                  0 days 02:06:56.714285714
                           Residential Building/House   0 days 03:36:01.833333333
                           Store/Commercial                       0 days 02:22:09
                           Street/Sidewalk              0 days 01:49:08.375862068
Squeegee                   Street/Sidewalk                 0 days 04:02:44.250000
Traffic                    Highway                      0 days 03:26:51.639784946
                           Roadway Tunnel               0 days 02:10:37.379310344
                           Street/Sidewalk              0 days 03:27:35.132834424
Urinating in Public        Club/Bar/Restaurant                    0 days 07:55:12
                           Park/Playground              0 days 02:51:44.973684210
                           Residential Building/House   0 days 04:16:02.898550724
                           Store/Commercial             0 days 03:26:23.075757575
                           Street/Sidewalk              0 days 03:17:06.835443037
                           Subway Station               0 days 01:09:07.666666666
Vending                    Park/Playground              0 days 03:28:01.647619047
                           Residential Building/House   0 days 04:11:49.502487562
                           Store/Commercial             0 days 03:58:25.817129629
                           Street/Sidewalk              0 days 04:01:36.091980360
Name: Request_Closing_Time, dtype: timedelta64[ns]

In [ ]:
df_fillna=df_subset.fillna(
    value={
        'Closed Date':0
    }
)

In [ ]:
df_fillna.agg(
    {
        "Created Date":["min","max"]
        "Closed Date":["min","max"],
    }
)

In [ ]:
df_isna_closed_date=df_subset[df_subset["Closed Date"].isna()==True]
df_isna_closed_date.head()

In [ ]:
df_subset["Closed Date"].isna()

In [ ]:
df_isna_closed_date.agg({
    "Closed Date":["min","max"]
})

In [ ]:
df_isna_closed_date["Closed Date"].fillna(0)
df_isna_closed_date.head()

In [ ]:
df_isna_closed_date_0=df_isna_closed_date["Closed Date"].fillna(0)

In [ ]:
df_isna_closed_date_0.head()

In [ ]:
df_fillna=df_isna_closed_date.fillna(
    value={
        'Closed Date':0
    }
)

In [ ]:
df_isna_closed_date.agg({
    "Closed Date":["min","max"]
})

In [ ]:
df_fillna.head()

In [ ]:
df_fillna.agg({
    "Closed Date":["min","max"]
})

In [10]:
pd.unique(df_subset['Status'])

array(['Closed', 'Open', 'Assigned', 'Draft'], dtype=object)

In [12]:
df_subset.groupby(['Status','Complaint Type'])['Status'].count()

Status    Complaint Type
Assigned  Animal Abuse                     4
          Bike/Roller/Skate Chronic        1
          Blocked Driveway                98
          Derelict Vehicle                27
          Homeless Encampment              4
          Illegal Parking                257
          Noise - Commercial             156
          Noise - Park                    11
          Noise - Street/Sidewalk        201
          Noise - Vehicle                 20
          Panhandling                      1
          Posting Advertisement            1
          Traffic                          2
          Vending                          3
Closed    Agency Issues                    6
          Animal Abuse                  7766
          Animal in a Park                 1
          Bike/Roller/Skate Chronic      424
          Blocked Driveway             76793
          Derelict Vehicle             17585
          Disorderly Youth               286
          Drinking                      1275
          Graffiti                       113
          Homeless Encampment           4410
          Illegal Fireworks              168
          Illegal Parking              74515
          Noise - Commercial           35245
          Noise - House of Worship       929
          Noise - Park                  4021
          Noise - Street/Sidewalk      48068
          Noise - Vehicle              17032
          Panhandling                    305
          Posting Advertisement          647
          Squeegee                         4
          Traffic                       4493
          Urinating in Public            592
          Vending                       3793
Draft     Blocked Driveway                 1
          Noise - Street/Sidewalk          1
Open      Animal Abuse                     8
          Bike/Roller/Skate Chronic        2
          Blocked Driveway               152
          Derelict Vehicle               106
          Drinking                         5
          Ferry Complaint                  2
          Homeless Encampment              2
          Illegal Parking                589
          Noise - Commercial             176
          Noise - House of Worship         2
          Noise - Park                    10
          Noise - Street/Sidewalk        342
          Noise - Vehicle                 31
          Panhandling                      1
          Posting Advertisement            2
          Traffic                          3
          Vending                          6
Name: Status, dtype: int64